<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./Footer.css">
</head>
<style type="text/css">
.footer{


align-content:flex-end;

}
footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 44px;
}

</style>

<body>
   
   

    <footer class="footer">
        <p>Copyright &copy; 2019 <img src="https://i.ibb.co/QDy827D/ak-logo.png" alt="logo"> All Rights Reserved.</p>
    </footer>
</body>

</html>