<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

    <style type="text/css">
.index{
  display: flex;
  justify-content: flex-start;
}
.p1{
  font-family: cursive;
  margin-top: 40px !important;
  text-align: center !important;


}

    </style>
      <body>
   <%-include('./header')%>

  <div class="container">
    <div class="row">
      <div class="col">
        <img src="https://www.illicoveto.com/wp-content/uploads/Conseil-veterinaire-chat.jpg" alt="" class="src">
      </div>
      <div class="col">
        <p id="p1" >
  
         Nous pensons que les technologies peuvent améliorer la prise en charge 
        médicale des animaux de compagnie tout en valorisant le savoir-faire des vétérinaires.
         Notre ambition est de vous simplifier la vie en vous assurant 
        la sérénité et en garantissant le bien-être et la bonne santé de vos animaux.
        </p>
        </div>
    </div>
  </div>
    
    <%-include('./footer')%>

  </body>
</html>
